body{
  background-color: #f7f1ed;
}

.body-login-register{
  margin-top: 20px;
  margin-bottom: 125px;
}

.body-add-edit-review{
  margin-top: 20px;
  margin-bottom: 125px;
}

div.row {
    padding: 10px;
}

.submit-button, .register-button{
  margin-right: 5px;
}

.submit-review-button{
  margin-right: 5px;
  background-color: #303235;
  color: #ffffff;
}

.click-register, .click-homepage{
  margin-left: 5px;
  font-size: 14px;
}
/********************FONTS************************/
@font-face {
	font-family: RalewayLight;
	src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
	font-family: RalewayMedium;
	src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: ClearfaceBold;
	src: url(../fonts/Clearface-Bold.otf);
}
/********************FONTS***********************/
/***************************BOOK PANEL******************************/
img{
  width: 100%;
}

.book-description{
  font-size: 13px;
  width: 100%;
}

.book-panel{
  margin-top: 5px;
  margin-bottom: 10px;
  height: 400px;
}

.book-information{
  width: 57%;
  height: 150px;
  font-family: RalewayMedium;
}

.btn-view-book-reviews{
  background-color: #303235;
  color: #ffffff;
  border-radius: 20px;
	font-family: RalewayLight;
	font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.btn-add-review{
  background-color: #303235;
  color: #ffffff;
  border-radius: 20px;
	font-family: RalewayLight;
	font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.btn-add-review:hover, .btn-view-book-reviews:hover{
  background-color: #4e5156;
  color: #ffffff;
}

.div-view-book-reviews-button{
  margin-bottom: 5px;
}

.author-tag, .genre-tag, .book-title{
  color: #303235;
}

.author-tag:hover, .genre-tag:hover{
  color: #303235;
  text-decoration: none;
}

.book-title{
  font-family: ClearfaceBold;
}
/***************************BOOK PANEL******************************/
/**************************REVIEWS***********************************/
.review-message{
  font-family: ClearfaceBold;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.page-header{
  font-family: ClearfaceBold;
	font-size: 18px;
}

.review-content{
  font-size: 13px;
  font-family: RalewayLight;
  width: 100%;
}

.review-title{
  font-size: 17px;
  width: 100%;
  font-family: ClearfaceBold;
}

.review-panel{
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #303235;
  color: #ffffff;
  padding-top: 10px;
}

.user-tag{
  color: #ffffff;
}

.btn-edit-review{
  background-color: #0d8216;
  color: #ffffff;
  border-radius: 20px;
	font-family: RalewayLight;
	font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.btn-delete-review{
  background-color: #7c0410;
  color: #ffffff;
  border-radius: 20px;
	font-family: RalewayLight;
	font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.btn-edit-review:hover{
  background-color: #0f9e1b;
  color: #ffffff;
}

.btn-delete-review:hover{
  background-color: #a00414;
  color: #ffffff;
}

.edit-delete-review-buttons{
  margin-top: 15px;
  margin-bottom: 20px;
}

.edit-delete-emptydiv{
  margin-top: 44px;
  margin-bottom: 20px;
  color: #fff;
}

.review-information{
  margin-bottom: 25px;
}
/**************************REVIEWS***********************************/
/***************************FOOTER**********************************/
#indexFooter{
	background-color: black;
	opacity: 0.9;
	padding-top: 50px;
	width: 100%;
	height: 220px;
}

#indexFooter p{
	font-family: RalewayLight;
	font-size: 12px;
	margin-left: 5px;
	color: #ffffff;
}

#footerLogo{
	width: 40%;
	height: 10%;
	padding-top: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.btn-circle{ /*custom*/
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 16px 0;
	line-height: 1.42;
	border-radius: 30px;
}

.social-media-buttons{
	color: #ffffff;
	background-color: #303133;
	border-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.social-media-buttons:hover{
	color: #f2dcd6;
	background-color: #212223;
}
/***************************FOOTER**********************************/
